:root {
    --main-background-color: #880000;
    --secount-background-color: #d9d9d9;

    --main-text-color: black;
    --main-text-color-hover: rgba(0, 0, 0, 0.7);

    --main-text-color-hover-background: rgba(120, 120, 120, 0.5);

    --theme-switch-brigness: brightness(2);
    --back-button-img-brigness: contrast(5);
}

.darkmode {
    --main-background-color: #600000;
    --secount-background-color: #323232;

    --main-text-color: white;
    --main-text-color-hover: rgba(255, 255, 255, 0.7);

    --main-text-color-hover-background: rgba(120, 120, 120, 0.5);

    --theme-switch-brigness: brightness(1);
    --back-button-img-brigness: contrast(1);
}

@media only screen and (max-width: 800px) {
    .pictureDiv {
        width: 40% !important;
    }
}

@media only screen and (max-width: 560) {
    .pictureDiv {
        width: 70% !important;
    }
}

@keyframes rotate {
    0% {
        transform:  rotate(0deg) scale(1);
    }

    100% {
        transform: rotate(3600deg) scale(0.2);
    }
}

@keyframes rotateReverse {
    0% {
        transform: rotate(3600deg) scale(0.2);
    }

    100% {
        transform:  rotate(0deg) scale(1);
    }
}

body {
    background-color: var(--main-background-color);
    margin: 0px;
    transform: rotate(3600);
}

.head {
    background-color: var(--secount-background-color);
    padding: 8px;
    height: 50px;
    display: flex;
    align-items: center;
}

.head a {
    color: var(--main-text-color);
    text-decoration: none;
    padding: 8px;
    margin-right: 10px;
}

.head a:hover {
    color: var(--main-text-color-hover);
    background-color: var(--main-text-color-hover-background);
}

.article {
    background-color: white;
    margin-top: 70px;
    margin-left: 70px;
    width: 70%;
    padding: 8px;
    border-radius: 1em;
    box-shadow: 4px 8px 4px rgba(0, 0, 0, 0.5);
}

.article:hover {
    transform: scale(1.05);
}

.footer {
    background-color: var(--secount-background-color);
    height: 60px;
    margin-top: 100px;
}

.themeMode img {
    filter: var(--theme-switch-brigness);
    background-color: var(--main-text-color);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 5px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.5);
}

.themeMode {
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.themeMode p{
    margin-right: 5px;
    color: var(--main-text-color);
}

.backButtonDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.backButtonDiv img {
    height: 32px;
    width: 32px;
    padding: 2px;
    border-radius: 50%;
    filter: var(--back-button-img-brigness);
}

.backButtonDiv img:hover {
    background-color: var(--main-text-color-hover-background);
    filter: contrast(5);
}

.pictureDiv {
    height: fit-content;
    min-width: 200px;
    width: 25%;
    margin: 20px;
    margin-top: 70px;
}

.pictureDiv img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.picturesCollectionDiv {
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
}